@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f5f8fb;
}

button {
  background-color: #00B2FF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0088cc;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ChatBot__container {
  width: 100%;
  max-width: 600px;
}
